body{
    background-color: rgb(159, 227, 227);
}
h1 {
    text-align: center;
}
form {
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(61, 60, 60, 0.3);
}